<html>
{%extends 'DefaultTemplate.html'%}
{% block content %}

<p>DigitalRoom V1</p>
File Type: single sheet xlsx only
<div style="height:50px"></div>
<form  method=POST enctype="multipart/form-data" action="/Loadfiles1">
<input type="file" name="sheet" id="sheet" size="60" width="170">
<input type="submit" name="submit" >  

</form> 
<hr> 
<!---{{fimage}}--->
<div><embed type="text/html" src={{view9}}></div><div><embed type="text/html" src={{view9}}></div>

<!---{{fimage}}--->
{{Formatinput}}

 
{% endblock %}
</html>
